@tailwind base;
@tailwind components;
@tailwind utilities;

.backdrop-blur-orange {
    backdrop-blur-blur: 20px;
    backdrop-blur-opacity: 0.5;
    backdrop-blur-color: #FFA07A;
  }


  .container {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
